## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import seaborn as sns 

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [23]:
len(application_df)

34299

In [4]:
application_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [5]:
application_df.describe().transpose

<bound method DataFrame.transpose of                 EIN        STATUS       ASK_AMT  IS_SUCCESSFUL
count  3.429900e+04  34299.000000  3.429900e+04   34299.000000
mean   5.191852e+08      0.999854  2.769199e+06       0.532406
std    2.451472e+08      0.012073  8.713045e+07       0.498956
min    1.052060e+07      0.000000  5.000000e+03       0.000000
25%    2.748482e+08      1.000000  5.000000e+03       0.000000
50%    4.656317e+08      1.000000  5.000000e+03       1.000000
75%    7.526117e+08      1.000000  7.742000e+03       1.000000
max    9.960869e+08      1.000000  8.597806e+09       1.000000>

In [14]:
application_df.corr(numeric_only=True)['IS_SUCCESSFUL'].sort_values()

EIN             -0.044482
ASK_AMT         -0.010861
STATUS          -0.001636
IS_SUCCESSFUL    1.000000
Name: IS_SUCCESSFUL, dtype: float64

In [15]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1,inplace=True)

In [21]:
# Determine the number of unique values in each column
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [49]:
#Function to bin the data for APPLICATION_TYPE and CLASSIFICATION
def binning(df, param, value):
    # Look at parameter value counts for binning
    before_counts = df[param].value_counts()
    
    # Choose a cutoff value and create a list of parameter to be replaced
    types_to_replace = list(before_counts[before_counts < value].index)
    
    # Replace in dataframe
    for data in types_to_replace:
        df[param] = df[param].replace(data,"Other")
        
    # Check to make sure binning was successful
    after_counts = df[param].value_counts()
    return print(f" Value Count before binning:{before_counts}Value Count after binning:{after_counts}")

In [50]:
binning (application_df,'APPLICATION_TYPE',500)

 Value Count before binning:APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64Value Count after binning:APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [70]:
# Look at CLASSIFICATION value counts for binning
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x: x>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [71]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
binning(application_df,'CLASSIFICATION',800)

 Value Count before binning:CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64Value Count after binning:CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [73]:
# Convert categorical data to numeric with `pd.get_dummies`
application_numeric = pd.get_dummies(application_df)
application_numeric

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [76]:
# Split our preprocessed data into our features and target arrays
X = application_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [77]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
# Set features
input_features = len(X_train_scaled[0])

## Compile, Train and Evaluate the Model

In [82]:
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=input_features))
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

WARNING:tensorflow:From C:\Users\kaiva\anaconda3\envs\dev\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Epoch 1/50
WARNING:tensorflow:From C:\Users\kaiva\anaconda3\envs\dev\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\kaiva\anaconda3\envs\dev\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 3s 2ms/step - loss: 0.5896 - accuracy: 0.7074
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5601 - accuracy: 0.7284
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5562 - accuracy: 0.7303
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - accuracy: 0.7305
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5523 - accuracy: 0.7321
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7320
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5503 - accuracy: 0.7324
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7320
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5488 - accuracy: 0.7324
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7325
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7331
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7325
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7321
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7334
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7335
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7327
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7338
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7329
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7351
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7336
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7320
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7348
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7336
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7345
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7352
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7339
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7343
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7344
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7348
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7351
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7349
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7357
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7349
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7355
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7346
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7355
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7356
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7364
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7356
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7357
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7363
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7364
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7358
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7359
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7368
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7361
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7371
268/268 - 1s - loss: 0.5556 - accuracy: 0.7289 - 500ms/epoch - 2ms/step
Loss: 0.5556355714797974, Accuracy: 0.728863000869751

# Step 3: Optimize the Model

In [84]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice("activation",["relu","tanh","sigmoid"])
    
    # allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int("first_units",
        min_value=1,
        max_value=320,
        step=5), activation=activation, input_dim=input_features))

    # allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int("num_layers", 1, 8)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int("units_" + str(i),
            min_value=1,
            max_value=120,
            step=5),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
    
    return nn_model

In [85]:
# import the kerastuner library
!pip install -q -U keras-tuner
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=35,
    hyperband_iterations=2)

In [ ]:
# run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=35,validation_data=(X_test_scaled,y_test))

In [87]:
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'relu', 'first_units': 176, 'num_layers': 2, 'units_0': 66, 'units_1': 71, 'units_2': 116, 'units_3': 86, 'units_4': 86, 'units_5': 61, 'units_6': 86, 'tuner/epochs': 12, 'tuner/initial_epoch': 4, 'tuner/bracket': 3, 'tuner/round': 2, 'tuner/trial_id': '0037', 'units_7': 76}
{'activation': 'relu', 'first_units': 241, 'num_layers': 6, 'units_0': 21, 'units_1': 26, 'units_2': 41, 'units_3': 91, 'units_4': 86, 'units_5': 81, 'units_6': 46, 'units_7': 66, 'tuner/epochs': 4, 'tuner/initial_epoch': 2, 'tuner/bracket': 3, 'tuner/round': 1, 'tuner/trial_id': '0017'}
{'activation': 'sigmoid', 'first_units': 301, 'num_layers': 1, 'units_0': 81, 'units_1': 16, 'units_2': 106, 'units_3': 36, 'units_4': 96, 'units_5': 111, 'units_6': 36, 'units_7': 86, 'tuner/epochs': 35, 'tuner/initial_epoch': 12, 'tuner/bracket': 1, 'tuner/round': 1, 'tuner/trial_id': '0081'}

In [88]:
# evaluate the top 3 models against the test dataset
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5540 - accuracy: 0.7335 - 376ms/epoch - 1ms/step
Loss: 0.554018497467041, Accuracy: 0.7335277199745178
268/268 - 0s - loss: 0.5539 - accuracy: 0.7329 - 442ms/epoch - 2ms/step
Loss: 0.553910493850708, Accuracy: 0.7329446077346802
268/268 - 0s - loss: 0.5488 - accuracy: 0.7329 - 374ms/epoch - 1ms/step
Loss: 0.5487655401229858, Accuracy: 0.7329446077346802

In [90]:
# first best model 
best_model_1 = top_model[0]
best_model_1.build()
best_model_1.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 176)               7744

 dense_1 (Dense)             (None, 66)                11682

 dense_2 (Dense)             (None, 71)                4757

 dense_3 (Dense)             (None, 1)                 72

=================================================================
Total params: 24255 (94.75 KB)
Trainable params: 24255 (94.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [91]:
# second best model 
best_model_2 = top_model[1]
best_model_2.build()
best_model_2.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 241)               10604

 dense_1 (Dense)             (None, 21)                5082

 dense_2 (Dense)             (None, 26)                572

 dense_3 (Dense)             (None, 41)                1107

 dense_4 (Dense)             (None, 91)                3822

 dense_5 (Dense)             (None, 86)                7912

 dense_6 (Dense)             (None, 81)                7047

 dense_7 (Dense)             (None, 1)                 82

=================================================================
Total params: 36228 (141.52 KB)
Trainable params: 36228 (141.52 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [92]:
# third best model 
best_model_3 = top_model[2]
best_model_3.build()
best_model_3.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 301)               13244

 dense_1 (Dense)             (None, 81)                24462

 dense_2 (Dense)             (None, 1)                 82

=================================================================
Total params: 37788 (147.61 KB)
Trainable params: 37788 (147.61 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [94]:
# Export our model to HDF5 file
best_model_1.save("AlphabetSoupCharity_Optimization.h5")

C:\Users\kaiva\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(